<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119029827111-b9ko7g52gbv1551ucn6jb9nt2pc2dhpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119029827111-b9ko7g52gbv1551ucn6jb9nt2pc2dhpt</string>
	<key>API_KEY</key>
	<string>AIzaSyAYSM56V_pLQKiKqLK5raswS8abhyZ2tDY</string>
	<key>GCM_SENDER_ID</key>
	<string>119029827111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.usemobile.Feed</string>
	<key>PROJECT_ID</key>
	<string>desafio3-feed</string>
	<key>STORAGE_BUCKET</key>
	<string>desafio3-feed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119029827111:ios:bf60d40ae6c6d109e47002</string>
</dict>
</plist>