<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7vleBHYLrfrbdHr316U0ZW_KGJ1YW-80</string>
	<key>GCM_SENDER_ID</key>
	<string>614406892050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.practiceFirebase.Feed</string>
	<key>PROJECT_ID</key>
	<string>feed-a99bf</string>
	<key>STORAGE_BUCKET</key>
	<string>feed-a99bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614406892050:ios:0a0b33bc1801e885ac86cb</string>
</dict>
</plist>